@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

.App-wrapper {
    display: flex;
    width: 100%;
    max-width: 1412px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 1.2;
    color: #252733;
}

.page {
    width: 100%;
    padding: 30px 0;
    background-color: #F7F8FC;
}

.container {
    padding: 0 32px;
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.3px;
}