.sticker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sticker__block {
    color: #FFFFFF;
    border-radius: 100px;
    padding: 5px 12px;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}